.chat-box
  .chat-header
    .chat-header__left
      .chat-header__left__chat-group
        groupname
      .chat-header__left__member
        member
    = link_to "Edit", "#", class: "chat-header__right"
  .message
    .message__box
      .message__box__name
        name
      .message__box__date
        date
    .message__text
      message
  .form
    .form__box
      %input.form__box__text{placeholder: "type a message", type: "text"}/
      %label
        %span{class: "form__box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "form__box__file"}
    %input.form__btn{type: "submit", name: "commit", value: "Send"}/