.side-box
  .header
    .header__name
      name
    = link_to "#", class: "header__icon" do
      = icon('fas', 'edit')
    = link_to "#", class: "header__icon" do
      = icon('fas', 'cog')
  .group
    .group__name
      groupname
    .group__message
      message
    .group__name
      groupname
    .group__message
      message