.notification {
  .notice {
    background-color: $bluecolor;
    color: $whitecolor;
    text-align: center;
  }

  .alert {
    background-color: $orangecolor;
    color: $whitecolor;
    text-align: center;
  }
}